.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label  {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: rgb(66, 134, 244);
    padding-left: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgb(52, 113, 211);
}



#submit_image {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: rgb(66, 134, 244);
    padding-left: 5px;
}
